iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  pointer-events: all;
}

.loading {
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

button {
  position: absolute;
  bottom: 20px;
  height: 60px;
  left: 50%;
  width: 320px;
  font-size: 16px;
  transform: translateX(-160px);
  animation: pop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);;
}

@keyframes pop {
  0% {
    transform: translateX(-160px) scale(1);
  }
  50% {
    transform: translateX(-160px) scale(2);
  }
  100% {
    transform: translateX(-160px) scale(1);
  }
}


:host {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  display: block;
  height: 100%;
}
